.delete-sublist {
    margin: 10px;
    color: red;
    margin-left: 200px;
  }
  .remove-sublist {
    margin-right: -225px;
  }
  
  li {
    list-style-type: none;
  }
  .main {
    word-wrap: break-word;
  }
  
  .main > button {
    word-wrap: break-word;
  }
  
  .delete-btn,
  .navbar {
    display: flex;
  }
  

  
  .sublist-div {
    margin: 5px;
    padding: 5px;
    background: #c4c4c4;
  }
  
  .delete-sublist {
    margin: 10px;
    color: red;
    margin-left: 200px;
  }
  .remove-sublist {
    display: flex;
  }
  
  li {
    list-style-type: none;
  }
  
  .notelist > li {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
  }
.input-div{
  display: flex;
  align-items: center;
}
input{
  width: 200px;
  height: 40px;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 4px;
  font-size: 18px;
}
button{
  height: 44px;
  width: 70px;
  font-size: 18px;
}
hr{
  border: solid 1px black;
}